* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

.Yukarıdönme{
    width: 100;
    height: 30;
    background-color: #eee;
    position: fixed;
    right: 0;
    bottom: 0;
    cursor: pointer;
    color: black;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 10px;
}
.ust_menu{

    width: 100%;
    height: 70px;
    background-color: rgb(74 174 195);
    box-shadow: 0px 0px 12px #2196f3;
    position: fixed;
    z-index: 1;
}
.ust_menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.ust_menu ul li{
    float: left;
}
.ust_menu ul li a {
    margin-top: 15px;
    display: block;
    width: 150px;
    height: 40px;
    text-align: right;
    line-height: 40px;
    color: black;
    font-size: 18px;
    text-decoration: none;
    margin-left: 90px;
    line-height: 150%;
    text-align: justify;
    font-size: 18px;
    color: white;
}

.ust_menu ul li a:hover{
    color: blue;
}
 
.arama{
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    float: right;
}

.arama button{
    width: 60px;
    background-color: lightblue;
    color: black;
    border-radius: 5px;
}
/*
header button:hover{
    color: #07689f;
    box-shadow: 0px 0px 15px silver;

}


header a{
    width: 150px;
    padding: 36px;
    margin-top: 25px;
    margin-left: 60px;
    border: none;
    background: none;
    outline: none;
    font-size: 14px;
    box-shadow: 0px 0px 8px whitesmoke;
    font-family: 'Tajawal', sans-serif;
    font-weight: bold;
    transition: 1s;
    text-decoration: none;
    color: black;
}

 a:hover{
    color: #07689f;
    box-shadow: 0px 0px 15px silver;

}
header img{
    float: left;
    width: 70px;
    float: left;
    margin-left: 10px;

}
*/

#imo1{
    width: 100%;
    height: 650ox;
    margin-top: 5px;
    
}
marquee{
    position: absolute;
    top:200px;
    left: 400px;
    color: ;
    text-align: center;
    font-size: 38px;
    width: 400px;
    height: 200px;
    font-family:'Tajawal', sans-serif;

}
aside{
    width: 14%;
    height: 400PX;
    background-color: white;
    float: right;
    margin-top: -4px;

}
aside button{
    width: 100%;
    height: 50px;
    font-size: 18px;
    font-family:'Tajawal', sans-serif;
    font-weight: bold;
    background: none;
    border: none;
    border-bottom: 1px solid #407088;
    border-left: 1px solid #407088;
   /*- outline:groove; */
   transition: 1s;

}
aside button:hover{
    color: white;
    background-color: #64adc0;
}
main{
    width: 86%;
    height: 400px;
    background: rgb(255, 255, 255);
    margin-top: -4px;
    text-align: left;
    float: left;
}
main h2 {
    font-size: 35px;
    font-weight: bold;
    font-family:'Tajawal', sans-serif;
    padding: 18px;
  
}
main img {
    width: 60px;
    border-radius: 5px;
}
img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
main a{
    width: 150px;
    padding: 36px;
    margin-top: 25px;
    margin-left: 60px;
    border: none;
    background: none;
    outline: none;
    font-size: 14px;
    box-shadow: 0px 0px 8px whitesmoke;
    font-family: 'Tajawal', sans-serif;
    font-weight: bold;
    transition: 1s;
    text-decoration: none;
    color: black;
}

main p{
    font-size: 25px;
    font-weight: bold;
    font-family:'Tajawal', sans-serif;
    color: black;
    margin-top: 30px;
    
}

#d1 div{
    width: 274px;
    height: 370px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'Tajawal', sans-serif;
    font-weight: bold;
    box-shadow: 1px 1px 12px grey;
    float:left;
    margin-left: 180px;
    margin-top: 60px;
    border-radius: 10px;
}

footer{
    width: 100%;
    height: 250px;
    background-color: black;
    margin-top: 1000px;
    box-shadow: 0px 0px 20px gray;
}

footer div{
    font-size: 22px;
    margin-top: 10px;
    font-family: 'Tajawal', sans-serif;
    font-weight: bold;
    text-align: left;
    margin-left: 80px;
    color:rgb(255, 255, 255);
    float: left;

}
footer div a{
    text-decoration: none;
    color: rgb(195, 205, 248);
}
footer div a:hover{
    color: rgb(0, 76, 255);
}
